In [ ]:
'''
Given a two numbers, check if they are equals
'''
number1 = 20
number2 = 30

In [ ]:
'''
Given a two numbers return their product
'''

number1 = 20
number2 = 30

In [ ]:
'''
And if the product is greater than 1000, then return their sum
'''

number1 = 200
number2 = 30

In [ ]:
'''
Depending on whether the number is even or odd, print out an appropriate message: use "if"
'''

my_number = 11

In [ ]:
'''
Print multiplication table of given number: use "for" loop
'''

my_number = 3

In [ ]:
'''
Given a list of numbers, return True if first and last number of a list is same
'''

my_list = [1, 2, 4, 1]

In [ ]:
'''
Given a list turn every item of a list into its square
'''

my_list = [1, 2, 4, 1]

In [ ]:
'''
Given a list iterate it and display numbers which are divisible by 5 
'''

my_list = [1, 15, 4, 20, 22, 100, 10000, 5, 10]

In [ ]:
'''
change the loop so that if you find number greater than 150 stop the loop iteration
'''

my_list = [1, 15, 4, 20, 22, 100, 10000, 5, 10]

In [ ]:
'''
Return the following pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
'''

In [ ]:
'''
Given a list, return its elements in reverse order
'''

my_list = [1, 2, 4, 1]

In [ ]:
'''
Given 2 strings create a new string by appending s2 at the end of s1
'''

my_str1 = 'hello'
my_str2 = 'world'

In [ ]:
'''
And add '.' between them
'''

my_str1 = 'hello'
my_str2 = 'world'

In [ ]:
'''
Remove empty strings from the list of strings
'''

my_list = ['hello', '', 'world', 'hello', 'good', 'morning']

In [ ]:
'''
Return the total count of the word 'hello' in the list
'''

my_list = ['hello', '', 'world', 'hello', 'good', '', 'morning']