In [29]:
'''
Given two numbers, check if they are equals (use try except)
'''
number1 = 20
number2 = 30

def isEqual(v1,v2):
    try: 
        1 / (v1 - v2)
        return False
    except:
        return True

print(isEqual(number1,number2))

False

In [2]:
'''
find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
'''
min = 1500
max = 2700

for number in range(min,max):
    if number % 7 == 0 and number % 5:
        print(number)

1505
1512
1519
1526
1533
1540
1547
1554
1561
1568
1575
1582
1589
1596
1603
1610
1617
1624
1631
1638
1645
1652
1659
1666
1673
1680
1687
1694
1701
1708
1715
1722
1729
1736
1743
1750
1757
1764
1771
1778
1785
1792
1799
1806
1813
1820
1827
1834
1841
1848
1855
1862
1869
1876
1883
1890
1897
1904
1911
1918
1925
1932
1939
1946
1953
1960
1967
1974
1981
1988
1995
2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2100
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2275
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2450
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2625
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695

In [160]:
'''
sum of three given integers. 
However, if two values are equal sum will be zero
'''

my_nb1 = 10
my_nb2 = 10
my_nb3 = 15

def isEqual(v1,v2):
    try: 
        1 / (v1 - v2)
        return False
    except:
        return True

somme = 0
if not(isEqual(my_nb1,my_nb2) or isEqual(my_nb1,my_nb3) or isEqual(my_nb2,my_nb3)):
    somme = my_nb1 + my_nb2 + my_nb3
    
print(somme)

0

In [42]:
'''
add two objects if both objects are an integer type
'''

my_obj1 = 13
my_obj2 = '12'

def somme(v1,v2):
    try:
        return v1 + v2
    except:
        return "One of the two objects are not integer type"

print(somme(my_obj1,my_obj2))

One of the two objects are not integer type

In [78]:
'''
convert seconds to day, hour, minutes and seconds
'''

my_secs = 16582

def quotient(v1,v2):
    return int((v1 - v1 % v2)/v2)

print(quotient(my_secs,86400)," days")
my_secs = my_secs % 86400

print(quotient(my_secs,3600)," hours")
my_secs = my_secs % 3600

print(quotient(my_secs,60)," minutes")
my_secs = my_secs % 60

print(my_secs," seconds")

0  days
4  hours
36  minutes
22  seconds

In [20]:
import datetime
my_secs = 16582
time_convert = datetime.timedelta(seconds = my_secs)
print(time_convert)

4:36:22

In [86]:
'''
construct the following pattern, using a nested for loop.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
'''

for i in range(6):
    line = ""
    for j in range(i):
        line += "* "
    print(line)
    
for i in range(1,5):
    line = ""
    for j in range(5-i):
        line += "* "
    print(line)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [96]:
'''
return the largest of three numbers. 
Do this without using the Python max() function
'''

my_nb1 = 13
my_nb2 = 133
my_nb3 = 1

def maxNumber(v1,v2,v3):
    if v1 > v2:
        if v1 > v3:
            return v1
        else:
            return v3
    else:
        if v2 > v3:
            return v2
        else:
            return v3
    
largest = maxNumber(my_nb1,my_nb2,my_nb3)
print(largest)

133

In [28]:
my_list = [13,133,1]
largest = 0
for i in range(len(my_list)):
    if largest < my_list[i]:
        largest = my_list[i]
print(largest)

133

In [110]:
'''
find how many 0s a number has
'''

my_nb = 13001200

def countZerro(v):
    count = 0
    str_nb = str(v)
    for i in range(len(str_nb)):
        if str_nb[i]=='0':
            count += 1
    return count

print(countZerro(my_nb))

4

In [122]:
'''
accept a word from the user and reverse it. 
use input
'''

print("Enter a word : ")
word = input()

# solution 1:
#print("Word reversed : ",word[::-1])

#solution 2:
def reverse(string):
    rev = ""
    for i in range(len(string)):
        rev += string[len(string)-1-i]
    return rev

print("Word reversed : ",reverse(word))

Enter a word :
regle
Word reversed :  elger

In [125]:
'''
check whether the key "nom" already exists in a dictionary.
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

if "nom" in my_dict.keys():
    print("the key 'nom' already exists in the dictionary")
else:
    print("the key 'nom' does not exists in the dictionary")

the key 'nom' already exists in the dictionary

In [126]:
'''
return value of "nom" 
'''
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

print("nom : ",my_dict["nom"])

nom :  alexi

In [127]:
'''
make a statement that returns the value of the key "nom" if it exists, otherwise None
'''

my_dict = {'age': 25, 'taille': 180}

if "nom" in my_dict.keys():
    print("nom : ",my_dict["nom"])
else:
    print("None")

None

In [50]:
my_dict = {'age': 25, 'taille': 180}

print(my_dict.get("nom", 'null'))

null

In [158]:
'''
change "nom" to your name in my_dict
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

if "nom" in my_dict.keys():
    my_dict["nom"] = "morjane"
    print("nom : ",my_dict["nom"])

nom :  morjane

In [156]:
'''
print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
n = 5
output {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
'''

n = 9

#méthode utilisant la compréhension du dictionnaire
my_dict = {i+1: (i+1)**2 for i in range(n)}
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [159]:
'''
merge two Python dictionaries
'''

my_dict1 = {'age': 24, 'taille': 180}
my_dict2 = {'nom': 'lahoe', 'prenom': 'alexi'}

merge_dict = {**my_dict2 , **my_dict1}
print(merge_dict)

{'nom': 'lahoe', 'prenom': 'alexi', 'age': 24, 'taille': 180}

In [146]:
'''
sum all the items in a dictionary
'''

my_dict = {'key1': 1, 'key2': 2, 'key3': 3}

sum_items = 0
for key in my_dict:
    sum_items += my_dict[key]
    
print(sum_items)

6

In [48]:
my_dict = {'key1': 1, 'key2': 2, 'key3': 3}

somme = sum(my_dict[key] for key in my_dict)
print(somme)

6

In [151]:
'''
remove a key "nom" a dictionary
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

try:
    del my_dict['nom']
    print(my_dict)
except:
    print("the key 'nom' does not exists in the dictionary")

{'age': 25, 'taille': 180}

In [154]:
'''
map two lists into a dictionary.
'''

list1 = ['nom', 'prenom', 'age']
list2 = ['alexi', 'lahoe', 24]

try:
    #solution 1:
    #my_dict = dict(zip(list1,list2))
    
    #solution 2:
    my_dict = {list1[i]: list2[i] for i in range(len(list1))}
    print(my_dict)
except:
    print("The two lists have not the same size")

{'nom': 'alexi', 'prenom': 'lahoe', 'age': 24}