In [ ]:
'''
Given two numbers, check if they are equals (use try except)
'''
number1 = 20
number2 = 30

In [ ]:
'''
find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
'''

In [ ]:
'''
sum of three given integers. 
However, if two values are equal sum will be zero
'''

my_nb1 = 10
my_nb2 = 10
my_nb3 = 15

In [ ]:
'''
add two objects if both objects are an integer type
'''

my_obj1 = 13
my_obj2 = '12'

In [ ]:
'''
convert seconds to day, hour, minutes and seconds
'''

my_secs = 16582

In [ ]:
'''
construct the following pattern, using a nested for loop.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
'''

In [ ]:
'''
return the largest of three numbers. 
Do this without using the Python max() function
'''

my_nb1 = 13
my_nb2 = 133
my_nb3 = 1

In [ ]:
'''
find how many 0s a number has
'''

my_nb = 13001200

In [ ]:
'''
accept a word from the user and reverse it. 
use input
'''

In [ ]:
'''
check whether the key "nom" already exists in a dictionary.
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

In [ ]:
'''
return value of "nom" 
'''

In [ ]:
'''
make a statement that returns the value of the key "nom" if it exists, otherwise None
'''

my_dict = {'age': 25, 'taille': 180}

In [ ]:
'''
change "nom" to your name in my_dict
'''

In [ ]:
'''
print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
n = 5
output {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
'''

n = 9

In [ ]:
'''
merge two Python dictionaries
'''

my_dict1 = {'age': 24, 'taille': 180}
my_dict2 = {'nom': 'lahoe', 'prenom': 'alexi'}

In [ ]:
'''
sum all the items in a dictionary
'''

my_dict = {'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
'''
remove a key "nom" a dictionary
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

In [ ]:
'''
map two lists into a dictionary.
'''

list1 = ['nom', 'prenom', 'age']
list2 = ['alexi', 'lahoe', 24]